[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = ">=2.0.3"
gunicorn = "*"
waitress = "*"
psycopg2 = "*"
authlib = ">=1.0"
requests = ">=2.27.1"

[dev-packages]

[requires]
python_version = "3.13"
